<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>MondsCodes | About Me</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <img src="./static/assets/images/default-monochrome-black.svg" alt="Your Brand Logo">

        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Personal Profile</h3>
                  <p>Passionate computer technologist proficient in Python, Java, and PostgreSQL. 
                    Well-versed in Software Testing Life Cycle (STLC), Software Development Life Cycle (SDLC), and Agile methodologies. 
                    Committed to building a solid career foundation and making a positive impact on the industry. 
                    Eager to explore opportunities for growth and impact.
                  </p>
                  <h3>Education  </h3>
                  <p>During my time at university, I gained knowledge in various subjects,
                      including object-oriented programming, artificial intelligence, 
                      functional programming, operating systems, full-stack development, 
                      and security and networks. Throughout these courses, 
                      I extensively utilized programming languages such as Python, C, Java, and SQL.
                      Additionally, I collaborated on a project with my teammates, where we applied React,
                      Django, and PostgreSQL to develop a web application focused on providing social support 
                      in the context of sports, employing agile methodologies.
                  </p>
                  <h3>Mission</h3>
                  <p>
                    Driven by my strong passion for cutting-edge technology and programming languages,
                    I am dedicated to creating web applications for small businesses in need of websites. 
                    Furthermore, I am eager to partner with like-minded individuals who share a similar vision 
                    and enthusiasm for technology. I plan to leverage my expertise in Python, JavaScript, CSS, and 
                    web development as a whole to achieve these goals.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="image-container">
                    <img src="./static/assets/images/profile.jpg" alt="Daniels Picture" class="bw-to-color">
                </div>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p> -->
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>